In [1]:
import pandas as pd
import numpy as np
from tqdm import trange
import datetime
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('electonic/events.csv')

- electronics 카테고리 한정 분석 진행
- brand, user session에 na값이 있는 데이터 삭제

In [3]:
electronics = df[df['category_code'].str.contains('electronics', na=False)]
elect = electronics.dropna(subset=['brand', 'user_session'])

In [4]:
elect.reset_index(inplace=True)

In [5]:
elect.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,14,2020-09-24 12:00:01 UTC,view,1455459,2144415927049912542,electronics.video.tv,sony,635.63,1515915625519385419,sF2S2yMO09
1,19,2020-09-24 12:00:37 UTC,view,10914,2144415925053423789,electronics.camera.video,sony,40.95,1515915625519389726,kYKAorW97d
2,33,2020-09-24 12:02:19 UTC,view,3828758,2144415975410238005,electronics.audio.acoustic,eva,21.59,1515915625519390366,F71OG8wWVP
3,40,2020-09-24 12:03:01 UTC,view,3661285,2144415927049912542,electronics.video.tv,lg,810.68,1515915625470774320,HMot99bSay
4,46,2020-09-24 12:04:15 UTC,view,3149184,2144415921421156430,electronics.telephone,flexis,6.97,1515915625519391247,t5aw8VKVBj

- 날짜 전처리

In [6]:
elect['month'] = np.nan 
elect['weekday'] = np.nan 
elect['hour'] = np.nan

In [7]:
for idx in trange(len(elect)):
    date = datetime.datetime.strptime(elect['event_time'][idx][:-4],'%Y-%m-%d %H:%M:%S')
    elect['month'][idx] = date.month
    elect['weekday'][idx] = date.weekday()
    elect['hour'][idx] = date.hour

  0%|          | 0/124602 [00:00<?, ?it/s]

100%|██████████| 124602/124602 [01:53<00:00, 1101.10it/s]

In [8]:
elect.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,month,weekday,hour
0,14,2020-09-24 12:00:01 UTC,view,1455459,2144415927049912542,electronics.video.tv,sony,635.63,1515915625519385419,sF2S2yMO09,9.0,3.0,12.0
1,19,2020-09-24 12:00:37 UTC,view,10914,2144415925053423789,electronics.camera.video,sony,40.95,1515915625519389726,kYKAorW97d,9.0,3.0,12.0
2,33,2020-09-24 12:02:19 UTC,view,3828758,2144415975410238005,electronics.audio.acoustic,eva,21.59,1515915625519390366,F71OG8wWVP,9.0,3.0,12.0
3,40,2020-09-24 12:03:01 UTC,view,3661285,2144415927049912542,electronics.video.tv,lg,810.68,1515915625470774320,HMot99bSay,9.0,3.0,12.0
4,46,2020-09-24 12:04:15 UTC,view,3149184,2144415921421156430,electronics.telephone,flexis,6.97,1515915625519391247,t5aw8VKVBj,9.0,3.0,12.0

- Categorical 변수 One Hot Encoding

In [9]:
enc_col = ['event_type','category_code','month','weekday','hour']

In [10]:
elect_dum = pd.get_dummies(elect, columns = enc_col)

In [11]:
elect_dum.head()

,index,event_time,product_id,category_id,brand,price,user_id,user_session,event_type_cart,event_type_purchase,...,hour_14.0,hour_15.0,hour_16.0,hour_17.0,hour_18.0,hour_19.0,hour_20.0,hour_21.0,hour_22.0,hour_23.0
0,14,2020-09-24 12:00:01 UTC,1455459,2144415927049912542,sony,635.63,1515915625519385419,sF2S2yMO09,0,0,...,0,0,0,0,0,0,0,0,0,0
1,19,2020-09-24 12:00:37 UTC,10914,2144415925053423789,sony,40.95,1515915625519389726,kYKAorW97d,0,0,...,0,0,0,0,0,0,0,0,0,0
2,33,2020-09-24 12:02:19 UTC,3828758,2144415975410238005,eva,21.59,1515915625519390366,F71OG8wWVP,0,0,...,0,0,0,0,0,0,0,0,0,0
3,40,2020-09-24 12:03:01 UTC,3661285,2144415927049912542,lg,810.68,1515915625470774320,HMot99bSay,0,0,...,0,0,0,0,0,0,0,0,0,0
4,46,2020-09-24 12:04:15 UTC,3149184,2144415921421156430,flexis,6.97,1515915625519391247,t5aw8VKVBj,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
elect_dum.columns

Index(['index', 'event_time', 'product_id', 'category_id', 'brand', 'price',
       'user_id', 'user_session', 'event_type_cart', 'event_type_purchase',
       'event_type_view', 'category_code_electronics.audio.acoustic',
       'category_code_electronics.audio.dictaphone',
       'category_code_electronics.audio.headphone',
       'category_code_electronics.audio.microphone',
       'category_code_electronics.audio.music_tools.piano',
       'category_code_electronics.calculator',
       'category_code_electronics.camera.photo',
       'category_code_electronics.camera.video',
       'category_code_electronics.clocks', 'category_code_electronics.fax',
       'category_code_electronics.tablet',
       'category_code_electronics.telephone',
       'category_code_electronics.video.projector',
       'category_code_electronics.video.tv',
       'category_code_electronics.video.tv_remote', 'month_1.0', 'month_2.0',
       'month_9.0', 'month_10.0', 'month_11.0', 'month_12.0', 'weekday_0.0',
       'weekday_1.0', 'weekday_2.0', 'weekday_3.0', 'weekday_4.0',
       'weekday_5.0', 'weekday_6.0', 'hour_0.0', 'hour_1.0', 'hour_2.0',
       'hour_3.0', 'hour_4.0', 'hour_5.0', 'hour_6.0', 'hour_7.0', 'hour_8.0',
       'hour_9.0', 'hour_10.0', 'hour_11.0', 'hour_12.0', 'hour_13.0',
       'hour_14.0', 'hour_15.0', 'hour_16.0', 'hour_17.0', 'hour_18.0',
       'hour_19.0', 'hour_20.0', 'hour_21.0', 'hour_22.0', 'hour_23.0'],
      dtype='object')

- One Hot Encoding 완료된 columns 삭제

In [13]:
elect_df = elect_dum.drop(columns=['index','event_time','product_id','category_id','brand'],axis = 1)

In [14]:
elect_df.head()

,price,user_id,user_session,event_type_cart,event_type_purchase,event_type_view,category_code_electronics.audio.acoustic,category_code_electronics.audio.dictaphone,category_code_electronics.audio.headphone,category_code_electronics.audio.microphone,...,hour_14.0,hour_15.0,hour_16.0,hour_17.0,hour_18.0,hour_19.0,hour_20.0,hour_21.0,hour_22.0,hour_23.0
0,635.63,1515915625519385419,sF2S2yMO09,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40.95,1515915625519389726,kYKAorW97d,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21.59,1515915625519390366,F71OG8wWVP,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,810.68,1515915625470774320,HMot99bSay,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6.97,1515915625519391247,t5aw8VKVBj,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
elect_df

,price,user_id,user_session,event_type_cart,event_type_purchase,event_type_view,category_code_electronics.audio.acoustic,category_code_electronics.audio.dictaphone,category_code_electronics.audio.headphone,category_code_electronics.audio.microphone,...,hour_14.0,hour_15.0,hour_16.0,hour_17.0,hour_18.0,hour_19.0,hour_20.0,hour_21.0,hour_22.0,hour_23.0
0,635.63,1515915625519385419,sF2S2yMO09,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40.95,1515915625519389726,kYKAorW97d,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21.59,1515915625519390366,F71OG8wWVP,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,810.68,1515915625470774320,HMot99bSay,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6.97,1515915625519391247,t5aw8VKVBj,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124597,212.06,1515915625611020906,JuEXYPaWGE,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
124598,57.62,1515915625597508619,EqOuydyqRJ,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
124599,405.65,1515915625611022987,7geq5gYdXF,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
124600,80.03,1515915625611024014,g6WqPf50Ma,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
124601,64.92,1515915625611024020,xNIJBqZdkd,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

- 데이터 파싱
    - 유저별 최대 가격, 최소 가격, 평균 가격(전체 세션 대상)
    - 유저별 user session 갯수
    - 유저별 event 타입 갯수
    - 나머지 columns 합계

In [16]:
def func(x):

    d = {}

    for idx in x.columns:
        if idx == 'price':
            d['max_price'] = x['price'].max()
            d['min_price'] = x['price'].min()
            d['mean_price'] = x['price'].mean()
        elif idx == 'user_session':
            d['user_session'] = x['user_session'].nunique()
        elif idx == 'user_id':
            d['user_id'] = x['user_id'].count()
        else:
            d[idx] = x[idx].sum()
    col = list(x.columns)
    col.remove('price')
    col.extend(['max_price','min_price','mean_price'])

    return pd.Series(d, index=col)

In [17]:
elect_gp = elect_df.groupby('user_id').apply(func)

In [18]:
elect_gp.head()

,user_id,user_session,event_type_cart,event_type_purchase,event_type_view,category_code_electronics.audio.acoustic,category_code_electronics.audio.dictaphone,category_code_electronics.audio.headphone,category_code_electronics.audio.microphone,category_code_electronics.audio.music_tools.piano,...,hour_17.0,hour_18.0,hour_19.0,hour_20.0,hour_21.0,hour_22.0,hour_23.0,max_price,min_price,mean_price
user_id,,,,,,,,,,,,,,,,,,,,,
1515915625353226922,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76.48,76.48,76.480000
1515915625353230683,12.0,3.0,0.0,0.0,12.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.24,10.03,39.595000
1515915625353234047,35.0,1.0,0.0,0.0,35.0,0.0,0.0,19.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240.98,14.29,156.220286
1515915625353236157,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52.49,52.49,52.490000
1515915625353294441,38.0,7.0,0.0,0.0,38.0,1.0,0.0,2.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1106.16,22.46,222.138158

In [19]:
elect_gp.to_csv('clustering_elect.csv', encoding = 'cp949')