In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('cluster_5.csv')

In [14]:
df.head()

,Unnamed: 0,user_id,user_id.1,user_session,event_type_cart,event_type_purchase,event_type_view,category_code_electronics.audio.acoustic,category_code_electronics.audio.dictaphone,category_code_electronics.audio.headphone,...,hour_18.0,hour_19.0,hour_20.0,hour_21.0,hour_22.0,hour_23.0,max_price,min_price,mean_price,labels5
0,0,1515915625353226922,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,76.48,76.48,76.480000,4
1,1,1515915625353230683,12.0,3.0,0.0,0.0,12.0,12.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,74.24,10.03,39.595000,3
2,2,1515915625353234047,35.0,1.0,0.0,0.0,35.0,0.0,0.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,240.98,14.29,156.220286,3
3,3,1515915625353236157,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,52.49,52.49,52.490000,4
4,4,1515915625353294441,38.0,7.0,0.0,0.0,38.0,1.0,0.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1106.16,22.46,222.138158,2

In [17]:
df_g1 = df[df['labels5'] == 1]

In [20]:
df_g1

,Unnamed: 0,user_id,user_id.1,user_session,event_type_cart,event_type_purchase,event_type_view,category_code_electronics.audio.acoustic,category_code_electronics.audio.dictaphone,category_code_electronics.audio.headphone,...,hour_18.0,hour_19.0,hour_20.0,hour_21.0,hour_22.0,hour_23.0,max_price,min_price,mean_price,labels5
11,11,1515915625353961485,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1297.21,1297.21,1297.21,1
32,32,1515915625356708800,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,721.44,721.44,721.44,1
58,58,1515915625358892673,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,988.06,988.06,988.06,1
68,68,1515915625360161045,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,988.06,988.06,988.06,1
88,88,1515915625363633555,3.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1062.89,1062.89,1062.89,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66689,66689,1515915625610840586,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1297.21,1297.21,1297.21,1
66705,66705,1515915625610859789,2.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2267.03,2267.03,2267.03,1
66744,66744,1515915625610903975,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3061.11,3061.11,3061.11,1
66763,66763,1515915625610916547,2.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,980.49,980.49,980.49,1
66865,66865,1515915625611014352,2.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,742.65,742.65,742.65,1

In [21]:
df_g1_pur = df_g1[df_g1['event_type_purchase'] > 0]

In [22]:
df_g1_pur

,Unnamed: 0,user_id,user_id.1,user_session,event_type_cart,event_type_purchase,event_type_view,category_code_electronics.audio.acoustic,category_code_electronics.audio.dictaphone,category_code_electronics.audio.headphone,...,hour_18.0,hour_19.0,hour_20.0,hour_21.0,hour_22.0,hour_23.0,max_price,min_price,mean_price,labels5
88,88,1515915625363633555,3.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1062.89,1062.89,1062.890000,1
123,123,1515915625369530324,6.0,2.0,1.0,1.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1209.98,1209.98,1209.980000,1
3755,3755,1515915625521533048,5.0,2.0,1.0,2.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1209.98,1209.98,1209.980000,1
3870,3870,1515915625521626575,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1800.35,1800.35,1800.350000,1
4198,4198,1515915625521891220,4.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,2170.57,2170.57,2170.570000,1
8336,8336,1515915625525839284,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,731.83,731.83,731.830000,1
11344,11344,1515915625528202412,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,731.83,731.83,731.830000,1
15632,15632,1515915625531435917,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3094.60,3094.60,3094.600000,1
16023,16023,1515915625531703410,4.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,1003.68,1003.68,1003.680000,1
16984,16984,1515915625532427017,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,701.22,701.22,701.220000,1
25332,25332,1515915625539678675,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1800.35,1800.35,1800.350000,1
26685,26685,1515915625540568900,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,826.86,826.86,826.860000,1
30064,30064,1515915625543133467,4.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1300.03,1300.03,1300.030000,1
33588,33588,1515915625548031047,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,793.49,793.49,793.490000,1
36037,36037,1515915625556753596,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,958.57,958.57,958.570000,1
44304,44304,1515915625570812779,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2568.08,2568.08,2568.080000,1
48910,48910,1515915625591815954,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,958.57,958.57,958.570000,1
57334,57334,1515915625599979979,3.0,1.0,0.0,1.0,2.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1725.40,413.83,1288.210000,1
65643,65643,1515915625609502967,14.0,1.0,1.0,1.0,12.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42590.13,98.25,3184.375714,1

In [4]:
dfo = df[['user_id','labels5']]

In [5]:
elect = pd.read_csv('electonic/events.csv')

In [6]:
elect = elect[elect['category_code'].str.contains('electronics', na=False)]
elect = elect.dropna(subset=['brand', 'user_session'])

In [7]:
elect.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
14,2020-09-24 12:00:01 UTC,view,1455459,2144415927049912542,electronics.video.tv,sony,635.63,1515915625519385419,sF2S2yMO09
19,2020-09-24 12:00:37 UTC,view,10914,2144415925053423789,electronics.camera.video,sony,40.95,1515915625519389726,kYKAorW97d
33,2020-09-24 12:02:19 UTC,view,3828758,2144415975410238005,electronics.audio.acoustic,eva,21.59,1515915625519390366,F71OG8wWVP
40,2020-09-24 12:03:01 UTC,view,3661285,2144415927049912542,electronics.video.tv,lg,810.68,1515915625470774320,HMot99bSay
46,2020-09-24 12:04:15 UTC,view,3149184,2144415921421156430,electronics.telephone,flexis,6.97,1515915625519391247,t5aw8VKVBj

In [8]:
df_group = pd.merge(elect, dfo, on='user_id', how = 'inner')

In [9]:
df_pur = df_group[df_group['event_type'] == 'purchase']

In [10]:
df_pur.groupby('labels5')['price'].agg('mean')

labels5
0      86.468717
1    1298.675000
2     112.448378
3      96.578393
4      93.955652
Name: price, dtype: float64

In [11]:
df_view = df_group[df_group['event_type'] == 'view']

In [12]:
df_view.groupby('labels5')['price'].agg('mean')

labels5
0     128.951869
1    1307.782830
2     117.259310
3     137.723098
4     119.305342
Name: price, dtype: float64

In [23]:
df_group1 = df_group[df_group['labels5'] == 1]

In [32]:
df_group1.reset_index(inplace=True)

In [37]:
idx = []
for i in range(len(df_group1)):
    if df_group1['user_id'][i] in list(df_g1_pur['user_id']):
        idx.append(i)

In [39]:
df1_pur = df_group1.iloc[idx,:]

In [42]:
df1_no_pur = df_group1.iloc[[i for i in range(len(df_group1)) if i not in idx],:]

In [43]:
df1_no_pur

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,labels5
0,3,2020-09-24 12:03:01 UTC,view,3661285,2144415927049912542,electronics.video.tv,lg,810.68,1515915625470774320,HMot99bSay,1
1,6,2020-09-24 12:10:10 UTC,view,3661285,2144415927049912542,electronics.video.tv,lg,810.68,1515915625519393259,H1crt6uiLB,1
2,19,2020-09-24 12:35:03 UTC,view,3828335,2144415927049912542,electronics.video.tv,hyundai,793.49,1515915625519402340,GYZFCKUcsB,1
3,32,2020-09-24 12:58:46 UTC,view,1414369,2144415927049912542,electronics.video.tv,samsung,1983.83,1515915625519411326,lZh5dBAAyT,1
4,34,2020-09-24 13:06:51 UTC,view,1027836,2144415922285183076,electronics.camera.video,sony,2138.92,1515915625518971679,9qM6sla8Yx,1
...,...,...,...,...,...,...,...,...,...,...,...
4411,124370,2021-02-28 15:56:44 UTC,view,1661024,2144415926060056772,electronics.video.projector,benq,3061.11,1515915625610903975,GdieIEuj4o,1
4412,124396,2021-02-28 16:23:21 UTC,view,1716661,2144415927049912542,electronics.video.tv,tcl,980.49,1515915625610916547,0BCw9ErjrS,1
4413,124397,2021-02-28 17:13:50 UTC,view,1716661,2144415927049912542,electronics.video.tv,tcl,980.49,1515915625610916547,0BCw9ErjrS,1
4414,124584,2021-02-28 22:25:48 UTC,view,3605842,2144415925196030129,electronics.telephone,nokia,742.65,1515915625611014352,vrc3k3YkYj,1
4415,124585,2021-02-28 22:53:57 UTC,view,3605842,2144415925196030129,electronics.telephone,nokia,742.65,1515915625611014352,vrc3k3YkYj,1